@media only screen and (max-width: 750px) { 
	.row_1_div p {
		font-size: 22px;
	}
	.contactUsname::placeholder, .contactUsemail::placeholder, .contactUsphone::placeholder, .contactUsmessage::placeholder {
		font-size: 13px;
	}
	.contactUsname, .contactUsemail, .contactUsphone, .contactUsmessage {
		font-size: 13px;
	}
	.div_input_name i, .div_input_email i, .div_input_phone i {
		font-size: 13px;
	}
	.submitContactUs {
		font-size: 13px;
	}
	footer {
		padding: 10px;
	}
	.footer_div1 p, .footer_div2 p, .footer_div3 p {
		font-size: 12px;
	}
	.footer_div1 i, .footer_div2 i, .footer_div3 i {
		font-size: 13px;
	}
}
@media only screen and (max-width: 585px) { 
	.row_1_div {
		padding: 10px;
	}
	.row_1_div p {
		font-size: 20px;
	}
	.row_2 {
		flex-direction: column;
	}
	.row_2_col-6 {
		width: 100%;
	}
	.div_input_name, .div_input_email, .div_input_phone {
		padding: 3px;
		margin-bottom: 5px;
	}
	.div_texarea_message {
		padding: 3px;
	}
	.div_btn_submit {
		padding: 8px 0px;
	}
	.row_2_div2 {
		height: 250px;
	}
	.contactUsmessage {
		height: 80px;
	}
	.div_btn_submit {
		padding: 10px 0px;
	}
	footer {
		padding: 0px;
		border: none;
	}
	.row_footer {
		flex-direction: column;
	}
	.footer_col-4 {
		width: 100%;
	}
	.footer_div1, .footer_div2, .footer_div3 {
		justify-content: center;
		border: 2px solid #528FD5;
		padding: 3px;
		border-radius: 15px;
	}
	.footer_div2 {
		margin: 5px 0px;
	}
	.footer_div1:hover, .footer_div2:hover, .footer_div3:hover {
		background-color: #528FD5;
		transition: 0.5s;
	}
}