@media only screen and (max-width: 1200px) { 
	.slide_akcia {
		min-width: 32.5%;
		margin:  0 10px  0 0;
	}
	.slide_buy {
		min-width: 32.5%;
		margin:  0 10px  0 0;
	}
}
@media only screen and (max-width: 1177px) {
	.row_8div2_text {
		font-weight: 700;
		font-size: 14px;
	}
	.slide_akcia {
		margin: 0px 9.3px 0 0;
	}
	.slide_buy {
		margin: 0px 9.3px 0 0;
	}
}
@media only screen and (max-width: 1073px) {
	.slide_akcia {
		margin: 0px 8.5px 0 0;
	}
	.slide_buy {
		margin: 0px 8.5px 0 0;
	}
}
@media only screen and (max-width: 1006px) {
	.row_4div1 p {
		font-size: 21px;
	}
	.row8div1_div {
		margin: 0px 30px;
	}
	.otzivi_name {
		font-size: 16px;
	}
	.ocenki i {
		font-size: 15px;
	}
	.row8div1_div p {
		font-size: 14px;
	}
}
@media only screen and (max-width: 991px) {
	.slide_akcia {
		margin: 0px 8px 0 0;
	}
	.slide_buy {
		margin: 0px 8px 0 0;
	}
	.header_input {
		width: 27%;
	}
}
@media only screen and (max-width: 982px) {
	.text_more {
		display: none;
	}
	.btn_dropdown_div {
		display: inline-block;
	}
	.btn_podrobnoe {
		color: #000000;
	}
	.row_8div1 {
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 15px;
	}
	.otzivi_ocenka {
		font-weight: 500;
	}
	.ocenki i {
		font-size: 16px;
	}
	.row8div1_div p {
		font-size: 15px;
	}
	.otzivi_ocenka {
		margin: 0;
	}
	.row8div1_div {
		margin: 0;
	}
}
@media only screen and (max-width: 954px) {
	.row_8div2 {
		flex-direction: column;
		align-items: flex-start;
	}
}
@media only screen and (max-width: 954px) {
	.row_13div_regurovka1 {
		margin: 0px 30px 0px 0px;
	}
	.slider {
		width: 95%;
		height: 350px;
	}
	.slides {
		height: 350px;
	}
	.slide img {
		height: 350px;
	}
	.navigation_manual {
		margin-top: 315px;
		width: 95%;
	}
	.navigation_auto {
		margin-top: 315px;
		width: 95%;
	}
}
@media only screen and (max-width: 919px) {
	.slide_akcia {
		margin: 0px 7.5px 0 0;
	}
	.slide_buy {
		margin: 0px 7.5px 0 0;
	}
}
@media only screen and (max-width: 915px) { 
	.header_input input::placeholder {
		font-size: 15px;
	}
}
@media only screen and (max-width: 900px) { 
	.onas_more {
		display: none;
	}
	.div_btn_onas {
		display: inline-block;
	}
	.onas_btn {
		background-color: #528FD5;
		color: #FFFFFF;
		border-radius: 5px;
		padding: 1px 10px;
	}
}
@media only screen and (max-width: 872px) { 
	.row_13div_regurovka1 {
		margin: 0px;
	}
	.row_13div_regurovka3 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0px 0px 0px 30px;
	}
	
}
@media only screen and (max-width: 862px) {
	.row_8divbutton button {
		font-size: 15px;
	}
	.ocenki i {
		font-size: 15px;
	}
	.row8div1_div p {
		font-size: 14px;
	}
	.otzivi_ocenka {
		font-weight: 400;
		font-size: 75px;
	}
	.row_8div1 {
		margin-bottom: 37px;
	}
	.row_12div2_p {
		font-weight: 600;
		font-size: 15px;
	}
	.text1_p2 {
		font-size: 14px;
	}
	.text1_p1 {
		font-size: 18px;
	}
	.row_4div1 p {
		font-size: 19px;
	}
	.row_8divbutton button {
		margin: 0px 20px;
	}
	.row_10div_btn {
		margin: 0px 20px;
	}
	.row_13div1_p p {
		margin-left: 10px;
	}
	.header_input {
		width: 30%;
	}
	.header_input input::placeholder {
		font-size: 14px;
	}
	.header_input  input {
		padding: 3px;
	}
}
@media only screen and (max-width: 800px) { 
	.slide_akcia {
		margin: 0px 6px 0 0;
	}
	.slide_buy {
		margin: 0px 6px 0 0;
	}
}
@media only screen and (max-width: 776px) {
	.modal-content {
		margin: 0 auto;
	}
	.slick-next {
		top: -88px !important;
	}
	.slick-prev {
		top: -88px !important;
	}
	.row_7div1 {
		margin: -10px 0px 10px 0px;
	}
	.slide_akcia {
		min-width: 49%;
		margin:  0 10px  0 0;
	}
	.slide_buy {
		min-width: 49%;
		margin:  0 10px  0 0;
	}
	.row1_div {
		padding: 30px 0px;
	}
	.row_1div1 {
		padding: 5px 25px;
	}
	.row_1div1 p {
		font-weight: 500;
		font-size: 16px;
	}
	.row_1div2 {
		font-size: 16px;
		padding: 5px 25px;
	}
	.row_1div3 {
		padding: 3px 25px;
	}
	.row_1div3 i {
		font-size: 26px;
	}
	.like_count_div {
		width: 15px;
		height: 15px;
		font-size: 12px;
		right: 22px;
		top: 0px;
	}
	.row1div2_div1 {
		padding: 16px 70px;
	}
	.row1div2_div2 {
		border: 2px solid #FFFFFF;
		right: 27px;
		top: 7px;
		width: 80px;
		height: 80px;
	}
	.row1div2_div2 i {
		font-size: 32px;
	}
	.basket_count_div {
		width: 15px;
		height: 15px;
		font-size: 12px;
		right: 11px;
		bottom: 12px;
	}
	.slider {
		width: 95%;
		height: 350px;
	}
	.slides {
		height: 350px;
	}
	.slide img {
		height: 350px;
	}
	.navigation_manual {
		margin-top: 315px;
		width: 95%;
	}
	.navigation_auto {
		margin-top: 315px;
		width: 95%;
	}
	.row_3div1 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.row_3div1 p {
		font-size: 30px;
		margin: 0;
	}
	.row_5div1 p {
		font-size: 30px;
	}
	.row_6div1 p {
		font-size: 30px;
	}
	.row_7div1 p {
		font-size: 30px;
	}
	.otzivi_ocenka {
		font-size: 70px;
	}
	.row_8div2_text {
		font-size: 13px;
	}
	.otzivi_name {
		font-size: 15px;
	}
	.otzivi_data {
		font-size: 15px;
	}
	.ocenki i {
		font-size: 14px;
	}
	.name_recepti {
		font-size: 30px;
	}
	.btn_recepti {
		padding: 3px 20px;
		margin: 0px 0px;
	}
	.avtorskie_recepti {
		font-size: 11px;
	}
	.burger_recept {
		font-size: 17px;
	}
	.row_10div_btn {
		bottom: 20px;
		padding: 3px 20px;
		margin: 0px;
	}
	.row_9 {
		margin-bottom: 10px;
	}
	.row_11div1 {
		margin: 10px 0px 10px 0px;
	}
	.row_11div1 p {
		font-size: 30px;
	}
	.row_8 {
		margin-bottom: 10px;
	}
	.text1_p2 {
		font-size: 13px;
	}
	.text1_p1 {
		font-size: 16px;
	}
	.text1_div1, .text1_div2, .text2_div1, .text2_div2 {
		padding: 0px;
		width: 46%;
		height: 90px;
	}
	.row_13 {
		padding: 50px 0px;
	}
	.row13_div2_header, .row13_div1_header, .row13_div3_header {
		font-size: 15px;
	}
	.row_13div1_p p {
		font-size: 15px;
	}
	.row13_div2_p_den {
		font-size: 15px;
	}
	.row13_div2_p_chasi {
		font-size: 15px;
	}
	.row13_div3_p p {
		font-size: 15px;
	}
	.row13_div3_iconi i {
		font-size: 21px;
	}
	.row_13div1_p img {
		width: 18px;
	}
	.row_13div1_p p {
		margin-left: 5px;
	}
}
@media only screen and (max-width: 709px) { 
	.row13_div2_header, .row13_div1_header, .row13_div3_header {
		font-size: 14px;
	}
	.row13_div2_p_den {
		font-size: 13px;
	}
	.row13_div2_p_chasi {
		font-size: 13px;
	}
	.row13_div3_p p {
		font-size: 13px;
	}
	.row13_div3_iconi i {
		font-size: 19px;
	}
	.row_13div1_p p {
		font-size: 13px;
	}
	.header_input input::placeholder {
		font-size: 13px;
	}
	.navbar-toggler {
		padding: 0.5rem 0.9rem;
		font-size: 1.5rem;
	}
	.header_logo {
		width: 90px;
		height: 90px;
	}
	.row_8divbutton button {
		margin: 0px 2px;
	}
	.row_8div2_text {
		font-size: 12px;
		font-weight: 900;
	}
	.row_8div2_text {
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.ocenki i {
		font-size: 13px;
	}
	.otzivi_name {
		font-size: 14px;
		font-weight: 900;
	}
	.otzivi_data {
		font-size: 14px;
	}
	.btn_podrobnoe {
		font-size: 14px;
	}
	.btn_dropdown_div {
		padding: 0px 8px;
	}
	.row_10div_btn {
		padding: 3px 10px;
		font-size: 14px;
	}
	.burger_recept {
		font-size: 16px;
	}
	.row_4div1 p {
		font-size: 16px;
	}
	.row_12div2_p {
		font-size: 14px;
	}
	.row_4 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.col_kategoria {
		width: 50%;
	}
	.row_4div1edit {
		padding: 0px 0px 20px 0px;
	}
	.row_4div1 p {
		font-size: 18px;
	}
}
@media only screen and (max-width: 692px) { 
	.slide_akcia {
		margin: 0 9px 0 0;
	}
	.slide_buy {
		margin: 0 9px 0 0;
	}
}	
@media only screen and (max-width: 650px) { 
	.slide_akcia {
		margin: 0 8px 0 0;
	}
	.slide_buy {
		margin: 0 8px 0 0;
	}
	.offcanvas-end {
		width: 350px;
	}
	.li1_a, .li3_a, .li4_a, .li5_a, .li6_a, .li7_a, .li8_a {
		font-size: 16px;
	}
	.fish_dropdown {
		font-size: 16px;
	}
	.icon_user_p {
		font-size: 16px;
	}
	.btn_close {
		width: 30px;
		height: 30px;
		font-size: 17px;
	}
}
@media only screen and (max-width: 633px) { 
	.slide_akcia {
		margin: 0 8px 0 0;
	}
	.slide_buy {
		margin: 0 8px 0 0;
	}
	.row1_div {
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
		padding: 35px 0px;
	}
	.row_1div2 {
		margin: 10px 20px 0px 0px;
	}
	.row_1div3 {
		margin: 10px 0px 0px 20px;
	}
	.row1_div {
		padding: 10px 0px;
	}
	.slider {
		height: 250px;
	}
	.slides {
		height: 250px;
	}
	.slide img {
		height: 250px;
	}
	.navigation_auto {
		margin-top: 220px;
	}
	.navigation_manual {
		margin-top: 220px;
	}
	.row_3div1 p {
		font-size: 27px;
	}
	.row_5div1 p {
		font-size: 27px;
	}
	.row_6div1 p {
		font-size: 27px;
	}
	.row_7div1 p {
		font-size: 27px;
	}
	.row_7div1 {
		margin: -20px 0px 10px 0px;
	}
	.row_8_col {
		width: 100%;
	}
	.row_8div2 {
		flex-direction: row; 
		align-items: flex-start;
		justify-content: flex-start;
	}
	.row_8div2_name {
		margin-right: 10px;
	}
	.row_8div1 {
		align-items: center;
		flex-direction: row;
		margin-bottom: 0px;
	}
	.row_8div {
		min-height: 140px;
		height: 90%;
		margin-bottom: 10px;
	}
	.row_8divbutton button {
		padding: 3px 21px;
	}
	.otzivi_ocenka {
		font-size: 57px;
	}
	.otzivi_ocenka {
		margin-right: 10px;
	}
	.name_recepti {
		font-size: 27px;
	}
	.btn_recepti {
		padding: 2px 19px;
	}
	.row_8 {
		margin-bottom: 5px;
	}
	.row_10 {
		justify-content: center;
		align-items: center;
	}
	.row_10_col {
		width: 100%;
	}
	.row_10div {
		height: 320px;
		margin: 5px;
	}
	.row_10div img {
		width: 100%;
		height: 320px;
		border-radius: 35px;
	}
	.row_10div_btn {
		padding: 5px 30px;
		font-size: 15px;
	}
	.burger_recept {
		font-size: 20px;
	}
	.avtorskie_recepti {
		font-size: 12px;
	}
	.row_10div_text {
		top: 50px;
	}
	.row_10div_btn {
		bottom: 30px;
	}
	.row_11div1 {
		margin: 0px 0px 10px 0px;
	}
	.row_11div1 p {
		font-size: 27px;
	}
	.text1_p1 {
		font-size: 15px;
	}
	.text1_p2 {
		font-size: 12px;
	}
	.row_12div2_btn {
		font-size: 14px;
	}
	.row_12div2_p {
		font-size: 13px;
		font-weight: 700;
	}
	.row_12col {
		width: 100%;
	}
	.row12div1row_1_text1, .row12div1row_1_text2 {
		margin-bottom: 10px;
	}
	.text1_div1, .text1_div2, .text2_div1, .text2_div2 {
		width: 48%;
	}
	.text1_p1 {
		font-size: 19px;
	}
	.text1_p2 {
		font-size: 13px;
		font-weight: 600;
	}
	.row12_div2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.row_12div2_p {
		text-align: center;
	}
	.row_12 {
		margin-bottom: 10px;
	}
	.row_13 {
		padding: 10px 0px;
	}
	.row_13col_div1 {
		order: 2;
		width: 50%;
	}
	.row_13col_div2 {
		order: 1;
		width: 100%;
	}
	.row_13col_div3 {
		order: 3;
		width: 50%;
	}
	.row_13div_regurovka3 {
		justify-content: flex-end;
		margin: 0px;
	}
	.row_13div_regurovka1 {
		justify-content: flex-start;
		margin: 0px;
	}
	.row13_div1_header {
		text-align: start;
	}
	.row13_div2 {
		margin-bottom: 10px;
	}
	.row13_div2_header {
		margin-bottom: 0px;
	}
	.row13_div1_header, .row13_div3_header {
		margin-bottom: 10px;
	}
	.header_input {
		width: 35%;
	}
	.icon_div_sigin i {
		font-size: 18px;
		margin-right: 8px;
	}
	.header_input i {
		font-size: 14px;
	}
}
@media only screen and (max-width: 575px) { 
	.header_input {
		width: 33%;
	}
	.header_input input {
		padding: 2px;
		font-size: 14px;
	}
	.header_input input::placeholder {
		font-size: 12.5px;
	}
	.slide_akcia {
		margin: 0 7px 0 0;
	}
	.slide_buy {
		margin: 0 7px 0 0;
	}
	.offcanvas-end {
		width: 300px;
	}
	.dropdown_item {
		font-size: 13px;
	}
	.li1, .li2, .li3, .li4, .li5, .li6, .li7, .li8 {
		padding: 12px 0px;
	}
	.modal-content  {
		width: 90%;
	}
	.full_name_div, .nik_div, .login_div, .password_div {
		width: 80%;
		height: 45px;
		margin: 7px 0px;
		padding: 7px 0px;
	}
	.btn_sign_in, .registracia {
		padding: 2px 50px;
	}
	.modal-body {
		padding: 0rem;
	}
	.modal_titlep1 {
		font-size: 17px;;
	}
	.modal_titlep2 {
		font-size: 17px;;
	}
}
@media only screen and (max-width: 505px) { 
	.slide_akcia {
		margin: 0 6px 0 0;
	}
	.slide_buy {
		margin: 0 6px 0 0;
	}
}
@media only screen and (max-width: 480px) { 
	.eror_text_reg, .eror_text_log {
		font-size: 11px;
	}
	.slide_akcia {
		margin: 0 30px 0 30px;
	}
	.slide_buy {
		margin: 0 30px 0 30px;
	}
	.row_6div1 {
		margin: 0px 0px 15px 0px;
	}
	.articl_slider_akcia img {
		width: 80%;
	}
	.articl_slider_akcia {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.row_1div2 {
		font-size: 15px;
		padding: 5px 3px;
	}
	.row_1div2 {
		margin: 10px 5px 0px 0px;
	}
	.row_1div3 {
		margin: 10px 0px 0px 0px;
	}
	.row_1div3 {
		padding: 3px 8px;
	}
	.row_1div1 {
		padding: 5px 47px;
	}
	.row1div2_div2 {
		width: 72px;
		height: 72px;
	}
	.row1div2_div1 {
		padding: 16px 57px;
	}
	.row1div2_div2 {
		right: 19.5px;
	}
	.basket_count_div {
		width: 13px;
		height: 13px;
		font-size: 10px;
		right: 8px;
		bottom: 10px;
	}
	.like_count_div {
		width: 13px;
		height: 13px;
		font-size: 10px;
		right: 5px;
		top: 0px;
	}
	.navbar-toggler {
		padding: 0.4rem 0.8rem;
		font-size: 1.5rem;
	}
	.header_input input::placeholder {
		font-size: 11px;
		font-weight: 500;
	}
	.header_logo {
		width: 85px;
		height: 85px;
	}
	.slide img {
		height: 200px;
	}
	.slides {
		height: 200px;
	}
	.slider {
		height: 200px;
	}
	.navigation_auto {
		margin-top: 175px;
	}
	.navigation_manual {
		margin-top: 175px;
	}
	.navigation_auto div {
		padding: 4px;
		border: 1px solid #528FD5;
	}
	.manual_btn {
		padding: 4px;
		border: 1px solid #528FD5;
	}
	.row_3div1 p {
		font-size: 25px;
	}
	.row_5div1 p {
		font-size: 25px;
	}
	.arrow_left {
		font-size: 24px;
	}
	.arrow_right {
		font-size: 24px;
	}
	.row_6div1 p {
		font-size: 25px;
	}
	.slider_akcia {
		height: 450px;
	}
	.slider_buy {
		height: 450px;
	}
	.row_7div1 p {
		font-size: 25px;
	}
	.row_7div1 {
		margin: -10px 0px 10px 0px;
	}
	.row_10div img {
		width: 95%;
		height: 300px;
	}
	.row_10div {
		height: 300px;
		margin: 10px;
	}
	.row_11div1 p {
		font-size: 25px;
	}
	.li1, .li2, .li3, .li4, .li5, .li6, .li7, .li8 {
		padding: 10px 0px;
	}
	.li1_a,.li2_a, .li3_a, .li4_a, .li5_a, .li6_a, .li7_a, .li8_a {
		font-size: 14px;
	}
	.fish_dropdown {
		font-size: 14px;
	}
	.dropdown_item {
		font-size: 13px;
	}
	.offcanvas-end {
		width: 250px;
	}
	.btn_close {
		width: 25px;
		height: 25px;
		font-size: 14px;
	}
	.li1 img, .li2 img, .li3 img, .li4 img, .li5 img, .li6 img, .li7 img, .li8 img, .dropdown_li img {
		width: 12%;
	}
	.icon_user_p {
		font-size: 15px;
	}
	.icon_user i {
		padding-right: 5px;
		font-size: 15px;
	}
	.header_input {
		width: 50%;
	}
	.row_8div {
		height: 95%;
	}
	.icon_div_sigin p {
		font-size: 14px;
	}
	.icon_div_sigin i {
		font-size: 16px;
		margin-right: 5px;
	}
}
@media only screen and (max-width: 450px) { 
	.icon_div_sigin_nik p {
		font-size: 15px;
		font-weight: 500;
	}
	.icon_div_sigin_nik i {
		font-size: 17px;
		margin-right: 5px;
	}
}
@media only screen and (max-width: 380px) { 
	.slider_buy {
		height: 360px;
	}
	.slider_akcia {
		height: 360px;
	}
	.articl_slider_akcia img {
		width: 70%;
	}
	.articl_p2 {
		font-size: 15px;
		margin-bottom: 0px;
	}
	.articl_p1 {
		font-size: 16px;
		font-weight: 500;
	}
	.grn {
		font-size: 14px;
	}
	.procent {
		font-size: 14px;
	}
	.header_slider_akcia i {
		font-size: 29px;
	}
	.comment_slider_akcia i {
		font-size: 22px;
	}
	.comment_slider_akcia p {
		font-weight: 600;
		font-size: 18px;
	}
	.btn_recepti {
		padding: 2px 16px;
		font-size: 15px;
	}
	.row_10div img {
		width: 100%;
		height: 250px;
	}
	.row_10div {
		height: 250px;
		margin: 5px;
	}
	.row_10div_text {
		top: 25px;
	}
	.avtorskie_recepti {
		font-size: 10px;
	}
	.burger_recept {
		font-size: 17px;
	}
	.row_10div_btn {
		bottom: 20px;
	}
	.offcanvas-end {
		width: 200px;
	}
	.fish_dropdown {
		font-size: 13px;
	}
	.li1_a, .li2_a, .li3_a, .li4_a, .li5_a, .li6_a, .li7_a, .li8_a {
		font-size: 13px;
	}
	.dropdown_item {
		font-size: 11px;
	}
	.dropdown_menu li {
		padding: 3px;
	}
	.dropdown_li {
		padding: 5px 0px;
	}
	.icon_user_p {
		font-size: 13px;
	}
	.icon_user i {
		font-size: 13px;
	}
	.btn_close {
		width: 22px;
		height: 22px;
		font-size: 13px;
	}
	.offcanvas-body {
		padding: 0rem 1rem;
	}
	.row_4div1 p {
		font-size: 17px;
	}
	.slide img {
		height: 160px;
	}
	.slides {
		height: 160px;
	}
	.slider {
		height: 160px;
	}
	.navigation_auto {
		margin-top: 137px;
	}
	.navigation_manual {
		margin-top: 137px;
	}
	.manual_btn:not(:last-child) {
		margin-right: 30px;
	}
	.navigation_auto div:not(:last-child) {
		margin-right: 30px;
	}
	.row_1div1 p {
		font-size: 15px;
	}
	.header_input i {
		font-size: 13px;
	}
	.icon_div_sigin i {
		font-size: 15px;
	}
	.icon_div_sigin p {
		font-size: 13px;
	}
	.full_name_div, .nik_div, .login_div, .password_div {
		height: 41px;
		margin: 3px 0px;
	}
	.inputs_div_reg i {
		font-size: 15px;
	}
	.inputs_div_reg input::placeholder {
		font-size: 14px;
	}
	.inputs_div_reg {
		margin: 0px 0px 20px 0px;
	}
	.icon_div_sigin_nik p {
		font-size: 14px;
	}
	.icon_div_sigin_nik i {
		font-size: 15px;
	}
}
