@media only screen and (max-width: 800px) { 
	.header_products p, .header_price p, .header_count p, .header_total p {
		font-size: 19px;
		font-weight: 700;
	}
	.div_remove_product i {
		font-size: 23px;
	}
	.div_products_img_korzina {
		max-width: 108px;
	}
	.div_products_count i {
		font-size: 23px;
	}
	.name_product_korzina, .price_product_korzina, .count_product, .total_product {
		font-size: 19px;
	}
	.textsubtotal {
		font-size: 19px;
		font-weight: 700;
	}
	.subtotal {
		font-size: 19px;
		font-weight: 700;
	}
	.divsubtotal {
		margin: 10px 5px;
	}
}
@media only screen and (max-width: 650px) {  
	.header_products p, .header_price p, .header_count p, .header_total p {
		font-size: 18px;
		font-weight: 700;
	}
	.name_product_korzina, .price_product_korzina, .count_product, .total_product {
		font-size: 16px;
		font-weight: 700;
	}
	.div_remove_product i {
		font-size: 20px;
	}
	.div_products_count i {
		font-size: 20px;
	}
	.div_products_img_korzina {
		max-width: 85px;
	}
	.header_exit_cart i {
		font-size: 20px;
	}
	.textsubtotal {
		font-size: 18px;
	}
	.subtotal {
		font-size: 18px;
	}
	.divsubtotal {
		margin: 10px 0px;
	}
}
@media only screen and (max-width: 548px) { 
	.header_products p, .header_price p, .header_count p, .header_total p {
		font-size: 16px;
	}
	.name_product_korzina, .price_product_korzina, .count_product, .total_product {
		font-size: 14px;
	}
	.div_remove_product i {
		font-size: 15px;
	}
	.div_products_count i {
		font-size: 15px;
	}
	.div_products_img_korzina {
		max-width: 72px;
	}
	.empty_cart_text {
			font-size: 25px;
	}
	.textsubtotal {
		font-size: 16px;
	}
	.subtotal {
		font-size: 16px;
	}
	.divsubtotal {
		margin: 10px 5px;
	}
}
@media only screen and (max-width: 481px) { 
	.header_products p, .header_price p, .header_count p, .header_total p {
		font-size: 12px;
	}
	.name_product_korzina, .price_product_korzina, .count_product, .total_product {
		font-size: 13px;
	}
	.textsubtotal {
		font-size: 12px;
	}
	.subtotal {
		font-size: 12px;
	}
	.divsubtotal {
		margin: 10px 3px;
	}
	.div_remove_product i {
		font-size: 12px;
	}
	.div_products_count i {
		font-size: 11px;
	}
	.div_products_img_korzina {
		max-width: 63px;
	}
	.header_price, .header_count, .header_total, .header_products {
		padding: 10px;
	}
	.header_exit_cart i {
		font-size: 18px;
	}
	.header_logo {
		width: 70px;
		height: 70px;
	}
	.navbar-toggler {
		font-size: 1.3rem;
	}
	.empty_cart_text {
		font-size: 20px;
		font-weight: 500;
	}
}
@media only screen and (max-width: 380px) { 
	.header_products p, .header_price p, .header_count p, .header_total p {
		font-size: 9px;
		font-weight: 700;
	}
	.name_product_korzina, .price_product_korzina, .count_product, .total_product {
		font-size: 9px;
		padding: 2px;
		font-weight: 700;
	}
	.textsubtotal {
		font-size: 10px;
		font-weight: 500;
	}
	.subtotal {
		font-size: 10px;
		font-weight: 500;
	}
	.divsubtotal {
		margin: 10px 0px;
	}
	.div_products_img_korzina {
		max-width: 50px;
	}
	.header_exit_cart i {
		font-size: 16px;
	}
	.header_price, .header_count, .header_total, .header_products {
		padding: 0px;
	}
	.empty_cart_text {
		font-size: 20px;
	}
	.empty_cart {
		padding: 30px;
	}
}
@media only screen and (max-width: 350px) { 
	.header_products p, .header_price p, .header_count p, .header_total p {
		font-size: 10px;
	}
}